.container {
    /* background-color: red; */
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
}

#pesquisar {
    padding: 8px;
    width: fit-content;
}

#id_input {
    width: 60px;
}

#out_apelido {
    width: 100px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.output_form {
    background-color: rgb(165, 183, 201);
    border: 1px solid black;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
    height: 10em;

    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

h2 {
    display: inline-block;
}